//VARS TO USE IN THE MAIN SCSS

    //COLORS

    $primary : #ffff;

    $secondary : #01b4e4;

    $tertiary : #90cea1;

    $backgroundsColor : #0d253f;

    //FONTS

    @font-face {
        font-family: 'bebas';
        src: url("fonts/BebasNeue-Regular.otf");
    }

    $bebas : 'bebas';




